* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(127, 225, 255);
    padding: 20px;
}

nav {
    display: flex;
    padding: 10px;
    background-color:black;
}

nav a {
    margin-right: 15px;
    background-color: gray;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(0, 81, 255);
}

body {
    background-color: gray;
    text-align: center
}

form {
    background-color: antiquewhite;
    width: 500px;
    margin:  auto;
    height:300px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 40px;
}
form div {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

    table, h1 {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }